@font-face {
  font-family: "regular-poppins";
  src: url("./../fonts/Poppins/Poppins-Regular.ttf") format("tff");
}

html {
  scroll-behavior: smooth;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'poppins', sans-serif;
}

body {
  background-color: #E5E5E5;
}

.devugo-btn {
  background: #EA3F5A;
  color: #fff;
  border-radius: 4px;
  border: 1px solid #EA3F5A;
  width: 130px;
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.devugo-btn:hover {
  opacity: 0.8;
  color: #fff;
}

.primary-bg {
  background-color: #EA3F5A;
}

.secondary-bg {
  background-color: #162447;
}

.section-title h3 {
  color: #162447;
  font-weight: bold;
}

.short-underline {
  position: relative;
}

.short-underline::before {
  content: '';
  width: 73px;
  height: 6px;
  top: 40px;
  left: 33%;
  position: absolute;
  background-color: #EA3F5A;
}

.devugo-section {
  margin: 40px 0;
  padding: 20px 0;
}

/* Start Navbar */
.navbar-light .navbar-toggler-icon {
  background-image: url("../../img/hamburger.png");
}

.navbar {
  background: #fff;
  position: fixed;
  width: 100%;
  padding-left: 25px;
  padding-right: 25px;
  z-index: 5;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.navbar .nav-item .nav-link {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.navbar .nav-item .nav-link.active, .navbar .nav-item .nav-link:hover {
  color: #EA3F5A !important;
}

.navbar .nav-item:last-child .devugo-btn {
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar li a.nav-link {
  color: #162447 !important;
}

.signin {
  border: 1.5px solid #112D4E;
  color: #112D4E;
  background: white;
  border-radius: 5px;
  padding: 10px 30px;
  margin-bottom: 20px;
  margin-top: 10px;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
}

.signin:hover {
  background: white !important;
  color: #EA3F5A;
}

.register {
  background: #112D4E;
  color: white;
  padding: 10px 30px;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
}

.show-shadow {
  -webkit-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.25) !important;
          box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.25) !important;
}

@media (min-width: 992px) {
  .navbar {
    height: 72px;
    background: #fff;
    padding-left: 9%;
    padding-right: 9%;
  }
  .navbar li {
    margin-right: 20px;
  }
  .navbar li:last-child {
    margin-right: 0px;
  }
  .signin {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

/* End Navbar */
.banner {
  height: 587px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(27, 27, 47, 0.71)), to(rgba(27, 27, 47, 0.71))), url("../../img/banner.png") no-repeat;
  background: linear-gradient(rgba(27, 27, 47, 0.71), rgba(27, 27, 47, 0.71)), url("../../img/banner.png") no-repeat;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #f4f4f4;
  padding: 0 22px 64px 22px;
}

.banner-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.banner-content .main-content p {
  font-size: 18px;
  line-height: 36px;
}

.banner-content .main-content p:first-child {
  font-weight: bold;
}

.banner-content .main-content p:nth-last-child() {
  font-size: 16px;
}

.banner-content .main-content h4 {
  font-weight: bold;
  font-size: 35px;
  line-height: 44px;
  /* identical to box height, or 110% */
  text-transform: capitalize;
}

.banner-content .main-content h5 {
  font-weight: bold;
  margin-bottom: 20px !important;
}

.banner-content .main-content .devugo-btn {
  width: 130px;
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media screen and (min-width: 992px) {
  .banner {
    height: 723px;
    padding: 0 9% 0 9%;
  }
  .banner-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .banner-content .main-content {
    max-width: 40%;
  }
  .banner-content .main-content p {
    font-size: 24px;
    line-height: 36px;
  }
  .banner-content .main-content p:first-child {
    font-weight: bold;
  }
  .banner-content .main-content p:nth-last-child() {
    font-size: 18px;
  }
  .banner-content .main-content h4 {
    font-weight: bold;
    font-size: 40px;
    line-height: 44px;
    /* identical to box height, or 110% */
    text-transform: capitalize;
  }
  .banner-content .main-content h5 {
    font-weight: bold;
    margin-bottom: 20px !important;
  }
}

.what-i-do .content {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  padding: 27px 10px 70px 20px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-box-shadow: 1px 2px 4px rgba(214, 217, 223, 0.5);
          box-shadow: 1px 2px 4px rgba(214, 217, 223, 0.5);
}

.what-i-do .content:hover {
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.what-i-do .content .icon {
  height: 100px;
  width: 100px;
  background: rgba(22, 36, 71, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
}

.what-i-do .content .text h4 {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  margin-top: 10px;
  margin-bottom: 15px;
  color: #162447;
}

.what-i-do .content .text p {
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.02em;
}

.about-me .container .content .image-content {
  z-index: 2;
  margin-top: 40px;
}

.about-me .container .content .image-content .primary-bg {
  position: absolute;
  top: 0;
  left: calc(50% - 110.42px);
  width: 120.85px;
  height: 300.9px;
}

.about-me .container .content .image-content img {
  position: absolute;
  width: 202.12px;
  height: 280.9px;
  left: calc(50% - 100.42px);
  top: 10px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.about-me .container .content .image-content img:hover {
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
}

.about-me .container .content .text-content {
  margin-top: 350px;
  padding: 10px;
}

.about-me .container .content .text-content p {
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.02em;
}

.about-me .container .content .text-content p:first-child {
  margin-bottom: 50px;
}

@media screen and (min-width: 992px) {
  .about-me .container .content .image-content {
    background-color: red;
  }
  .about-me .container .content .image-content .primary-bg {
    position: absolute;
    top: 0;
    left: calc(50% - 100.42px);
    width: 150px;
    height: 400px;
  }
  .about-me .container .content .image-content img {
    position: absolute;
    width: 250px;
    height: 380px;
    left: calc(50% - 90.42px);
    top: 10px;
  }
  .about-me .container .content .text-content {
    margin-top: 40px;
  }
}

.statistics {
  color: #fff;
  padding: 100px 0 40px 0;
}

.statistics .container .content {
  margin-bottom: 80px;
}

.statistics .container .content p:first-child {
  font-weight: bold;
  font-size: 32px;
  line-height: 35px;
}

.statistics .container .content p:last-child {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}

@media screen and (min-width: 992px) {
  .statistics .container {
    padding-left: 10%;
    padding-right: 10%;
  }
}

.portfolio .container .content p {
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #1B1B2F;
  margin-top: 30px;
  margin-bottom: 30px;
}

.portfolio .container .content img {
  width: 100%;
  margin-bottom: 30px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.portfolio .container .content img:hover {
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
}

.brief {
  color: #fff;
}

.brief .container .content {
  padding: 60px 0px 40px 0;
}

.brief .container .content h4 {
  font-weight: bold;
  font-size: 24px;
  line-height: 35px;
}

.brief .container .content p {
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.02em;
  margin-top: 20px;
  margin-bottom: 20px;
}
/*# sourceMappingURL=main.css.map */