.devugo-btn {
    background: $primary-color;
    color: $white;
    border-radius: 4px;
    border: 1px solid $primary-color;
    width: 130px;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    @include transition-ease;

    &:hover {
        opacity: 0.8;
        color: $secondary-text-color;
    }
}

.primary-bg {
    background-color: $primary-color;
}

.secondary-bg {
    background-color: $secondary-color;
}

.section-title {
    h3{
        color: $title-text-color;
        font-weight: bold;
    }
}
.short-underline {
    position: relative;

    &::before {
        content: '';
        width: 73px;
        height: 6px;
        top: 40px;
        left: 33%;
        position: absolute;
        background-color: $primary-color;
    }
}

.devugo-section {
    margin: 40px 0;
    padding: 20px 0;
}

input {
    width: 100%;
    border: 1px solid grey;
    margin-bottom: 20px;
    height: 50px;

    &:hover, 
    &:active,
    &:focus
    {
        outline:0px !important;
        -webkit-appearance:none;
        box-shadow: none !important;
        border: 1.5px solid $secondary-color;
    }
}