.about-me {
    .container {
        .short-underline {
        
            &::after {
                transform:translateX(-85%);
            }
        }
        .content{
            // display: flex;
            // justify-content: center;
            // background-color: brown;
            .image-content {
                // position: relative;
                z-index: 2;
                // height: 700px;
                margin-top: 40px;

                .primary-bg{
                    position: absolute;
                    top: 0;
                    left: calc(50% - 110.42px);
                    width: 120.85px;
                    height: 300.9px;
                }
                img {
                    position: absolute;
                    width: 202.12px;
                    height: 280.9px;
                    left: calc(50% - 100.42px);
                    top: 10px;
                    @include transition-ease;

                    &:hover {
                        filter: brightness(80%);
                    }
                }
    
            }
            .text-content {
                margin-top: 350px;
                padding: 10px;
                

                p{
                    font-size: 16px;
                    line-height: 22px;
                    letter-spacing: 0.02em;

                    &:first-child{
                        margin-bottom: 50px;
                    }
                }
            }
        }
    }
}

@include media-md-bootstrap {
    .about-me {
        .container {
            .content{
                .image-content {
                    background-color: red;
                    // width: 100%;
                    // height: 100%;
                    .primary-bg{
                        position: absolute;
                        top: 0;
                        left: calc(50% - 100.42px);
                        width: 150px;
                        height: 400px;
                    }
                    img {
                        position: absolute;
                        width: 250px;
                        height: 380px;
                        left: calc(50% - 90.42px);
                        top: 10px;
                    }
                }
                .text-content {
                    margin-top: 40px;
                }
            }
        }
    }
}